html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555555;
}

address {
    font-style: normal;
}

a:link,
a:visited,
a:active {
    color: #88b14b;
}

a:hover {
    color: #1362ad;
}

.headings {
    font-family: 'Sanchez', serif;
    color: #1362ad;
}

h3.headings {
    font-family: 'Sanchez', serif;
    color: #88b14b;
}

.bold {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
}
