html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color: #555555;

}

#container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
}

address {
    font-style: normal;
}

a:link,
a:visited,
a:active {
    color: #88b14b;
}

a:hover {
    color: #1362ad;
}

.headings {
    font-family: 'Sanchez', serif;
    color: #1362ad;
}

h3.headings {
    font-family: 'Sanchez', serif;
    color: #88b14b;
}

.bold {
    font-weight: bold;
    font-size: 15px;
    color: #333333;
}

.hireme {
    font-family: 'Sanchez', serif;
    color: #88b14b;
}

@media (min-width: 400px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 3.5%;
        left: 60%;
        width: 35%;
    }
}

@media (min-width: 500px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 3%;
        left: 60%;
        width: 30%;
    }
}

@media (min-width: 600px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 3%;
        left: 70%;
        width: 25%;
    }
}

@media (min-width: 700px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 3%;
        left: 70%;
        width: 22%;
    }
}

@media (min-width: 800px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 3%;
        left: 70%;
        width: 20%;
    }
}

@media (min-width: 900px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 2.5%;
        left: 75%;
        width: 18%;
    }
}

@media (min-width: 1000px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 2.5%;
        left: 75%;
        width: 16%;
    }
}

@media (min-width: 1100px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 2%;
        left: 75%;
        width: 14%;
    }
}

@media (min-width: 1200px) {
    #container {
        padding: 1em;
    }

    #me {
        position: absolute;
        top: 1%;
        left: 70%;
        width: 10%;
    }
}
